.favButton {
    color: var(--text2);
    font-size: 2rem;
    cursor: pointer;

    &:hover {
        color: var(--text);
    }

    &:focus-visible,
    &:focus {
        outline: none;
    }

    @media only screen and (max-width: 768px) {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}
