.body {
    background-color: var(--foreground);
    border-radius: 12px;
    flex: 1;
    padding: 2rem;
    overflow: auto;

    scrollbar-width: thin;
    scrollbar-color: var(--text2) transparent;
}

.stackGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.gridElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    border-radius: 12px;
    padding: 2rem;
    gap: 1rem;

    & > p {
        margin: 0;
    }
}

.body h1 {
    margin-top: 0;
}

.body h3 {
    font-weight: 500;
}

.body a {
    color: var(--text);
    text-decoration: underline;
}

.github {
    display: flex;
    gap: 1ch;
    align-items: center;
}
