* {
    box-sizing: border-box;
}

:root {
    --background: #0b131e;
    --foreground: #202b3b;
    --accent: #f9c784;
    --secondary: #99b2dd;
    --secondary2: #3b4553;
    --text: #d8e8f4;
    --text2: #76828b;
}

body {
    font-family: var(--alanSans), Helvetica, sans-serif;
    background: var(--background);
    color: var(--text);
    margin: 0;
}

.content {
    margin-inline: auto;
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    padding: 1.25rem;
    height: 100dvh;
    gap: 1.25rem;
}

a {
    text-decoration: none;
}
