.body {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--foreground);
    border-radius: 12px;
    gap: 1.5rem;
    padding-right: 1rem;
    justify-content: center;
    align-items: center;
}
