.day {
    grid-area: day;
    display: flex;
    gap: 1rem;
}

.mainSection {
    padding: 2rem;
    display: flex;
    flex: 1;
    background-color: var(--foreground);
    border-radius: 12px;
    justify-content: space-between;
}

.mainSection > div > p {
    display: flex;
    align-items: center;
}

.infoSection {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--foreground);
    border-radius: 12px;
    width: 15.5rem;
    min-width: 0;
    color: var(--text2);
    gap: 0.25rem;
}

.infoSection > p > span:first-child {
    display: grid;
    grid-template-columns: 1rem 1fr;
    column-gap: 0.25rem;
    align-items: center;
}

.infoSection > p {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.infoSection > p > span {
    display: flex;
    align-items: center;
}

.infoSection > p:first-child {
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--text);
}

.infoSection > p:nth-child(2) {
    margin-bottom: auto;
    font-weight: 600;
    color: var(--text);
}

.infoSection > p:last-child > span:last-child > svg {
    rotate: var(--degrees);
    margin-right: 0.2rem;
}

.mainSection > div {
    display: flex;
    flex-direction: column;
}

.mainSection > img {
    align-self: center;
    height: 100%;
    max-height: 100%;
    width: auto;
    aspect-ratio: 1;
    filter: drop-shadow(0 0 3px rgba(41, 60, 83, 0.6)) drop-shadow(0 0 6px rgba(67, 74, 83, 0.4))
        drop-shadow(0 0 12px rgba(67, 74, 83, 0.3));
    animation: float 3s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

@supports (-moz-appearance: none) {
    .mainSection > img {
        height: 200px !important;
        width: 200px !important;
    }
}

.location {
    margin: 0;
    font-size: 3rem;
    font-weight: 600;
    overflow: hidden;
}

.location > p {
    margin: 0;
    animation: slideLeft 0.3s linear;
}

.rain {
    margin: 0;
    font-size: 1rem;
    color: var(--text2);
}

.temperature {
    margin-top: auto;
    font-size: 4.5rem;
    font-weight: 600;
    overflow: hidden;
    max-height: 4.5rem;
}

.temperature > p {
    margin: 0;
    line-height: 0.9;
    animation: slideBottom 0.3s linear;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideBottom {
    0% {
        margin-top: 4.5rem;
    }
    100% {
        margin-top: 0px;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translate(0);
    }
}
