* {
    box-sizing: border-box;
}

:root {
    --background: #0b131e;
    /* --foreground: #202b3b; */
    --foreground: #162233;
    --foreground2: #0f1825;
    --accent: #f9c784;
    --secondary: #99b2dd;
    /* --secondary2: #3e495a; */
    --secondary2: #344155;
    --text: #d8e8f4;
    /* --text2: #76828b; */
    --text2: #94a3b8;
}

body {
    font-family: var(--workSans), Helvetica, sans-serif;
    background: var(--background);
    color: var(--text);
    margin: 0;
}

.content {
    margin-inline: auto;
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    padding: 1.25rem;
    height: 100dvh;
    max-height: 100dvh;
    overflow: hidden;
    gap: 1.25rem;
}

a {
    text-decoration: none;
}

button {
    all: unset;
}
button:focus,
button:focus-visible {
    outline: -webkit-focus-ring-color auto 5px;
}
