.body {
    display: grid;
    grid-template-rows: 2rem 1fr 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    column-gap: 1.25rem;
    row-gap: 1rem;
    flex: 1;
    grid-template-areas:
        "search search"
        "day week"
        "hours week"
        "data week";
}

@media (max-width: 700px) {
    .body {
        width: 100%;
        grid-template-rows: 2rem min-content min-content min-content min-content;
        grid-template-columns: 1fr;
        row-gap: 1rem;
        flex: 1;
        grid-template-areas:
            "search"
            "day"
            "hours"
            "week"
            "data";
    }
}

.search {
    grid-area: search;
    background-color: var(--foreground);
    border-radius: 12px;
}

.week {
    grid-area: week;
    background-color: var(--foreground);
    border-radius: 12px;
}
.data {
    grid-area: data;
    background-color: var(--foreground);
    border-radius: 12px;
}
.hours {
    grid-area: hours;
    background-color: var(--foreground);
    border-radius: 12px;
}

.daySkeleton {
    grid-area: day;
    border-radius: 12px;
}

.weekSkeleton {
    grid-area: week;
    border-radius: 12px;
}

.dataSkeleton {
    grid-area: data;
    border-radius: 12px;
}

.hoursSkeleton {
    grid-area: hours;
    border-radius: 12px;
}
