.body {
    --inputWidth: 50%;
    position: relative;
    grid-area: search;
    display: flex;
    justify-content: center;
    background-color: var(--background) !important;
}

.body > input {
    position: relative;
    background-color: var(--foreground);
    border-radius: 9999rem;
    min-width: var(--inputWidth);
    border-style: none;
    text-align: center;
    padding-inline: 1rem;
    color: var(--text);
    font-family: var(--workSans), Helvetica, sans-serif;
    transition: border-color 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

@media ((max-width: 700px)) {
    .body > input {
        min-width: 100%;
    }
}

.body > input::placeholder {
    font-family: var(--workSans), Helvetica, sans-serif;
    color: var(--text);
    text-align: center;
}

.body > input:focus-visible,
.body > input:hover {
    outline: none;
    border: 1px solid var(--text);
}

.resultsList {
    position: absolute;
    top: calc(100% + 0.5rem);
    z-index: 2;
    background-color: var(--background);
    margin: 0;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid var(--text);
    list-style-type: none;
    padding: 0;
    min-width: var(--inputWidth);
}

.result {
    display: flex;
    padding-block: 0.25rem;
    padding-inline: 1rem;
    align-items: center;
}

.result:first-child {
    padding-top: 0.75rem;
}

.result:last-child {
    padding-bottom: 0.75rem;
}

.result > *:first-child {
    margin-right: 0.5ch;
}

.result:hover,
.active {
    background-color: var(--foreground);
    cursor: pointer;
}
